@CHARSET "UTF-8";

.content {
	padding-top:0;
}

.slrn-bold {
    font-weight: bold;
}

/* hide progression */
.bg-color-primary {
	display:none;
}

/* reset value */
.container{
	width: auto;
	min-width: 0;
	padding: 0;
}

.slrn-back {
}
.slrn-back__link {
	font-weight: bold;
	padding: 0.66em;
	color: #FFF;
	display: block;
	text-decoration: none;
}
.slrn-back__link:hover {
	color: #FFF;
}
.no_underline,.no_underline:hover{
	text-decoration: none;
	margin-right: 5px;
}

h1 {
	font-size: 28px;
	color: #000;
	margin: 10px 0;
}
h2{
	font-size: 1.7em;
	font-weight: bold;
	color: #000;
}
a.FAQ, a.FAQ:hover{
	color:#FF004F;
	font-weight: normal;
	float: right;
	font-size: 0.7em;
	right: 0;
	line-height: 1.7em;
}
h3 {
	font-size: 14px;
	color: #000;
	margin: 30px 0 20px 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.btn-gris:hover, .btn-gris:focus, .btn-gris:active, .btn-gris.active, .open .dropdown-toggle.btn-gris {
	background-color: #999999;
	border-color: #999999;
}


.drop__annoncement__badge{
	background-color: #EEEEEF;
	margin-top: 30px;
	padding: 10px 10px 10px 130px;
	font-size: 1.7em;
}
.drop__annoncement__badge .bold{
	font-size: 1.1em;
	font-weight: bold;
}
.drop__annoncement__badge:before{
	content: "";
	top: 40px;
	left: 40px;
	position: absolute;
	width: 75px;
	height: 75px;
	background-image: url('../../orangetheme/images/sprites_solerni.png');
	background-position: 0 -583px;
}
.collapse__div__title{
	margin-top: 10px;
}
.collapse__div__title a{
	color:#FF004F;
	padding-left:30px;	
}
.collapse__div__title:before{
	content: "";
	position: absolute;
	background-image: url('../../orangetheme/images/sprites_solerni.png');
	background-position: -129px -582px;
	width:22px;
	height:22px;
}
.collapse__div__title.open:before{
	background-position: -153px -582px;	
}
.collapse__div__instruction{
	background-color: #EEEEEF;
	margin-top: 20px;
	padding: 10px;
	margin-left: 10px;
}

.dropForum{
	background-color: #EEEEEF;	
	padding: 5px;
}
.dropForum:before{
	content: "";
	position: absolute;
	background-image: url('../../orangetheme/images/sprites_solerni.png');
	background-position: -94px -583px;
	width:27px;
	height:21px;
	left:12%;
}
.dropForum__title{
	padding-left: 40px;
	font-weight: bold;
}
.dropForum__content{
	padding: 5px;
}
.dropForum__button{
	text-align: center;
	
}

.slrn-no-copies {
    background-color: #EEEEEF;
    padding: 1em;
    padding-left: 4.2em;
    margin: 1.5em 0;
    position: relative;
}

.slrn-no-copies:before {
    content: "";
    background: transparent url(../../orangetheme/images/sprites_solerni.png) no-repeat 0 -657px scroll;
    width: 31px;
    height: 66px;
    position: absolute;
    left: 1em;
}