@CHARSET "UTF-8";

.content {
	padding-top:0;
}

/* hide progression */
.bg-color-primary {
	display:none;
}

/* reset value */
.container{
	width: auto;
	min-width: 0;
	padding: 0;
}

.slrn-back {
}
.slrn-back__link {
	font-weight: bold;
	padding: 0.66em;
	color: #FFF;
	display: block;
	text-decoration: none;
}
.slrn-back__link:hover {
	color: #FFF;
}
.no_underline,.no_underline:hover{
	text-decoration: none;
	margin-right: 5px;
}

h1 {
	font-size: 28px;
	color: #000;
	margin: 10px 0;
}
h2{
	font-size: 1.7em;
	font-weight: bold;
	color: #000;
}
a.FAQ, a.FAQ:hover{
	color:#FF004F;
	font-weight: normal;
	position: absolute;
	font-size: 0.7em;
	right: 0;
	line-height: 1.7em;
}
h3 {
	font-size: 14px;
	color: #000;
	margin: 30px 0 20px 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.drop__annoncement__badge{
	background-color: #EEEEEF;
	margin-top: 30px;
	padding: 10px 10px 10px 130px;
	font-size: 1.7em;
}
.drop__annoncement__badge .bold{
	font-size: 1.1em;
	font-weight: bold;
}
.drop__annoncement__badge:before{
	content: "";
	top: 40px;
	left: 40px;
	position: absolute;
	width: 75px;
	height: 75px;
	background-image: url('../../orangetheme/images/sprites_solerni.png');
	background-position: 0 -583px;
}
.collapse__div__instruction{
	background-color: #EEEEEF;
	margin-top: 30px;
	padding: 5px;
	margin-left: 10px;
	font-size: 1.2em;
}

.dropForum{
	
}
.dropForum__title{
	
}
.dropForum__content{
	
}
.dropForum__button{
	
}