<div class='dropForum'>
    <div class='dropForum__title'>{{ 'forumTitle'|trans({}, 'solerni') }}</div>
    <div class='dropForum__content'>{{ 'forumContent'|trans({}, 'solerni') }}</div>
    <div class='dropForum__button'><a data-toggle="dropdown" class="btn btn-primary disabled-during-add btn-gris" href="{{ app.session.get('solerni_discuter_url') }}">{{ 'forumButton'|trans({}, 'solerni') }}</a></div>
</div>
