<div class='dropForum slrn-grey-block'>
    <div class='dropForum__title'>{{ 'forumTitle'|trans({}, 'solerni') }}</div>
    <div class='dropForum__content'>{{ 'forumContent'|trans({}, 'solerni') }}</div>
    <div class='dropForum__button'><a class="btn btn-primary btn-gris" href="{{ app.session.get('solerni_discuter_url') }}">{{ 'forumButton'|trans({}, 'solerni') }}</a></div>
</div>
