  <hr/>
            <div class="row">
                {% if drop.countFinishedCorrections >= dropzone.expectedTotalCorrection %}
                    {% if drop.calculatedGrade >= dropzone.minimumScoreToPass %}
                        <div class='text-success'>
                            {% if dropzone.displayNotationMessageToLearners %}
                                <div class="col-md-6">
                                    Bravo ! Vous avez reussi cette évaluation
                                </div>
                            {% endif %}
                            {% if dropzone.displayNotationToLearners %}
                                <div class="col-md-6">
                                    Note : {% include 'IcapDropzoneBundle:Drop:dropsTotalGrade.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class='text-danger'>
                            {% if dropzone.displayNotationMessageToLearners %}
                                <div class="col-md-6">
                                    Dommage... Vous avez echoué cette évaluation
                                </div>
                            {% endif %}
                            {% if dropzone.displayNotationToLearners %}
                                <div class="col-md-6">
                                    Note : {% include 'IcapDropzoneBundle:Drop:dropsTotalGrade.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-md-12">
                        <strong>
                            {% if dropzone.peerReview %}
                                {{ 'Finished! You have realized the nb corrections expected. Patience your copy is being corrected.'|transchoice(dropzone.expectedTotalCorrection, {}, 'icap_dropzone') }}
                            {% else %}
                                {{ 'Finished! Patience your copy is being corrected.'|trans({}, 'icap_dropzone') }}
                            {% endif %}
                        </strong>
                    </div>
                {% endif %}
            </div>